{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
<form action="/edit/{{ entry.0 }}" method="POST">
	{% csrf_token %}
	<div class="form-group col-md-6">
	  <label for="title">Title</label>
	  <input type="text" disabled class="form-control" name="title" id="title" placeholder="{{ entry.0 }}">
	</div>
	<div class="form-group col-md-6">
	<label for="content">Content</label>
	<textarea class="form-control" id="content" name="content" required rows="5">{{ entry.1 }}</textarea>
	</div>
	<button type="submit" class="btn col-md-6 btn-primary">Submit</button>
  </form>

{% endblock %}